*{
  padding: 0;
  margin: 0;
}
.racer_table {
  margin: auto;
}

td {
  height: 40px;
  width: 50px;
  border: 1px solid whitesmoke;
}

td.active {
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

#player1-race > td.active {
  background-image: url(images/player_1.png);
}

#player2-race td.active {
  background-image: url(images/player_2.png);
}

td:last-child {
  background-image: url(images/finish.png);
  background-size: cover;
}

td:last-child.active {
  background-size: 90%, cover;
  background-position: center, top left;
}

#player1-race td:last-child.active {
  background-image: url(images/player_1.png), url("images/finish.png");
}

#player2-race td:last-child.active {
  background-image: url(images/player_2.png), url("images/finish.png");
}

.win-popup{
  height: 100vh;
  width: 100vw;
  background-color: rgba(50, 50, 50, 85%);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 1px black;
}

.win-popup-text{
  font-size: 60px;
  margin-bottom: 40px;
}

.restart-btn{
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 15px;
  background-color: seashell;
  cursor: pointer;
}

.hide{
  display: none;
}